.button-wrapper{
    height:4em;
    font-size: 24px;
    background-color: #5A5A5A;
    color: aliceblue;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin:2px;
    flex:1;

}

.button-wrapper:hover,
.button-wrapper:focus
{
    color:rgb(176, 201, 223);
    background-color: #386abf;
    cursor: pointer;

}