*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color:#ffffff
}

.calculator-body{
  display:flex;
  align-items: center;
  justify-content: center;
}
.calculator-wrapper{
  background-color: white;
  width: 50vh;
  height:40vh;
  border-radius: 16px;
}