*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: black;
}

.calculator-body{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calculator-body > h1{
  color: aliceblue;
}

.calculator-wrapper{
  background-color: white;
  border-radius: 16px;
  width:400px;
}
.calculator-row{
  display: flex;
  flex:1
}
.calculator-wrapper h1 {
  margin-top: 0;
  text-align: center;
}